floodteam-graph-pay-splits floodteam-error .floodteam-error-wrapper {
  padding: 0 !important;
}

floodteam-graph-pay-splits .graph-pay-splits-wrapper {
  display: block;
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
}

floodteam-graph-pay-splits h1 {
  text-align: center;
  color: var(--ion-color-success) !important;
  font-size: 2em;
  font-weight: bold;
}

floodteam-graph-pay-splits floodteam-graph {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

floodteam-graph-pay-splits floodteam-item h4 {
  color: var(--ion-color-medium-shade) !important;
}

floodteam-graph-pay-splits floodteam-item floodteam-badge {
  --floodteam-badge-padding: 0 10px;
  --floodteam-badge-background: var(--ion-color-success);
  --floodteam-badge-color: #ffffff;
}
