floodteam-fallback {
  font-family: var(
    --floodteam-error-font-family,
    var(--ion-font-family, Arial, Helvetica, sans-serif)
  );
}
floodteam-fallback .fallback-wrapper ion-icon {
  display: block;
  margin: var(--floodteam-fallback-icon-margin, 0 auto);
  padding: var(--floodteam-fallback-icon-padding, 0);
  height: var(
    --floodteam-fallback-icon-height,
    var(--floodteam-fallback-icon-size, 150px)
  );
  width: var(
    --floodteam-fallback-icon-width,
    var(--floodteam-fallback-icon-size, 150px)
  );
  color: var(
    --floodteam-fallback-icon-color,
    var(--floodteam-fallback-color, #bdbdbd)
  );
}
floodteam-fallback .fallback-wrapper p {
  display: block;
  padding: var(--floodteam-fallback-message-padding, 0);
  margin: var(--floodteam-fallback-message-margin, 0);
  font-size: var(--floodteam-fallback-message-font-size, 14px);
  color: var(
    --floodteam-fallback-message-color,
    var(--floodteam-fallback-color, #999)
  );
  font-weight: var(--floodteam-fallback-message-font-weight, bold);
  text-align: var(--floodteam-fallback-message-text-align, center);
}
