floodteam-graph {
  font-family: var(
    --floodteam-graph-card-font-family,
    var(--theme-font-primary, Arial, Helvetica, sans-serif)
  );
}
floodteam-graph .graph-wrapper {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
floodteam-graph canvas {
  z-index: 1;
  position: relative;
}
