floodteam-location-bar ion-item-divider {
  padding: 15px;
}

floodteam-location-bar img.map-marker {
  fill: #ffffff;
  height: 30px;
  width: 30px;
  display: block;
  border-radius: 100%;
  padding: 5px;
  background: var(--ion-color-secondary);
  color: #ffffff;
}

floodteam-location-bar .location-lookup {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

floodteam-location-bar .location-lookup * {
  margin-right: 10px;
}

floodteam-location-bar .location-lookup a {
  margin-left: 10px;
  text-decoration: none;
  color: var(--ion-color-light, #ffffff);
  opacity: 0.7;
}

floodteam-location-bar h4 {
  text-align: right;
  color: #fff;
  font-family: var(--ion-font-family);
  font-size: 1em;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
  margin-top: 10px;
}

floodteam-location-bar ion-input {
  color: #fff !important;
}