@keyframes fadeRoll {
  0% {
    transform: rotate(30deg) translateY(50px) scale(0.6);
    opacity: 0;
  }

  80% {
    transform: rotate(-15deg) translateY(-10px) scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(0deg) translateY(0) scale(1);
    opacity: 1;
  }
}

.thumbs-up-wrapper {
  display: block;
  margin: 0 auto;
  width: var(--ft-thumbs-up-width, var(--ft-thumbs-up-size, 150px));
  height: var(--ft-thumbs-up-height, var(--ft-thumbs-up-size, 150px));
  max-width: var(--ft-thumbs-up-max-width, 800px);
  min-height: var(--ft-thumbs-up-min-height, var(--ft-thumbs-up-size, 150px));
}

ion-icon {
  display: block;
  height: var(--ft-thumbs-up-size, 150px);
  width: var(--ft-thumbs-up-size, 150px);
  color: var(--theme-success, green);
  display: block;
  margin: 0 auto;
  opacity: 0;
}

.animate ion-icon {
  animation: fadeRoll 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
