ion-item {
  font-family: var(
    --floodteam-error-font-family,
    var(--ion-font-family, Arial, Helvetica, sans-serif)
  );
  --item-border-bottom: none;
  --item-content-padding: 0;
  position: relative;
}
ion-icon {
  height: 20px;
  width: 20px;
  display: inline-block;
}
ion-label {
  padding-left: 5px;
  font-size: 0.75em;
  color: var(--ion-color-danger, red) !important;
}
