floodteam-pay-card {
  display: block;
  width: 100%;
  font-family: var(--ion-font-family, Arial, Helvetica, sans-serif);
}

floodteam-pay-card .pay-card-wrapper {
  width: 90%;
  max-width: 600px;
  margin: 15px auto;
}

floodteam-pay-card .pay-card-wrapper .StripeElement {
  padding: 0 0px 7px 0;
  border-bottom: 1px solid
    var(
      --ion-item-border-color,
      var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13)))
    );
}

floodteam-pay-card .pay-card-wrapper .StripeElement--focus {
  border-bottom: 2px solid var(--ion-color-primary, blue);
}

floodteam-pay-card .pay-card-wrapper .StripeElement--invalid {
  border-color: var(--ion-color-danger);
}

floodteam-pay-card .pay-card-wrapper .StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

floodteam-pay-card .pay-card-wrapper ion-grid {
  display: block;
  width: 100%;
  padding: 15px 0 0 0;
}
