floodteam-input-search .search-input ion-label {
  color: var(--theme-dark-grey) !important;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: arial;
  display: block;
  background: transparent;
  text-align: left;
  padding: 0 0 8px 0;
  font-family: var(--theme-font-primary);
}

floodteam-input-search ion-icon {
  color: var(--ion-text-color);
}

floodteam-input-search .search-input ion-icon[slot="start"] {
  margin-right: 5px;
}

floodteam-input-search .search-input [slot="end"] {
  margin-left: 5px;
}

floodteam-input-search .invalid {
  --border-color: var(--ion-color-danger) !important;
}

floodteam-input-search .invalid ion-label {
  color: var(--ion-color-danger) !important;
}

floodteam-input-search .valid {
  --border-color: var(--ion-color-success) !important;
}

floodteam-input-search .valid ion-label {
  color: var(--ion-color-success) !important;
}
