floodteam-photo-carousel {
  display: block;
  border: 1px solid var(--ion-color-base-dark);
  position: relative;
  min-height: 90px;
  min-width: 160px;
  margin: 0 auto;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

floodteam-photo-carousel ion-slides::after {
  content: "";
  display: block;
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.3) 80%
  );
  border-radius: 8px 8px 0 0;
}

floodteam-photo-carousel ion-slides {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px !important;
  overflow: hidden !important;
}

floodteam-photo-carousel ion-slide {
  margin: auto;
}

floodteam-photo-carousel floodteam-input-photo {
  height: 0px;
  width: 0px;
  visibility: hidden;
  opacity: 0;
  display: block;
  overflow: hidden;
}

floodteam-photo-carousel floodteam-fallback {
  --floodteam-fallback-icon-size: 10vw;
}

floodteam-photo-carousel floodteam-fallback ion-icon {
  max-width: 120px;
  max-height: 120px;
  color: var(--ion-color-base-dark);
}

floodteam-photo-carousel .photo-pagination {
  position: absolute;
  top: 10px;
  left: 8px;
  color: #666;
  display: block;
  z-index: 2;
  padding-right: 10px;
}

floodteam-photo-carousel ion-fab.select-photo {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 2;
}
