floodteam-photo-carousel {
  display: block;
  position: relative;
  margin: 0 auto;
  min-height: 200px;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

floodteam-photo-carousel ion-slides::after {
  content: "";
  display: block;
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.3) 80%
  );
}

floodteam-photo-carousel ion-slides {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden !important;
}

floodteam-photo-carousel ion-slide {
  margin: auto;
}

floodteam-photo-carousel input[type="file"] {
  height: 0px;
  width: 0px;
  visibility: hidden;
  opacity: 0 !important;
  display: block;
  overflow: hidden;
  float: left;
}

floodteam-photo-carousel floodteam-fallback {
  --floodteam-fallback-icon-size: 10vw;
}

floodteam-photo-carousel floodteam-fallback ion-icon {
  max-width: 120px;
  max-height: 120px;
  color: var(--ion-color-base-dark);
}

floodteam-photo-carousel .photo-pagination {
  position: absolute;
  top: 10px;
  left: 8px;
  color: #666;
  display: block;
  z-index: 2;
  padding-right: 10px;
}

@media only screen and (max-width: 500px) {
  floodteam-photo-carousel .photo-pagination {
    top: 5px;
    left: 4px;
  }

  floodteam-photo-carousel ion-fab-button {
    height: 45px !important;
    width: 45px !important;
  }
}
