floodteam-epay ion-card {
  overflow: visible;
}
floodteam-epay .hidden {
  height: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
}
floodteam-epay floodteam-flip-card .flip-card-inner .badge-top-right {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border-radius: 0 0 0 5px;
  font-size: 0.75em;
  text-transform: uppercase;
}
floodteam-epay ion-item ion-icon[slot="start"] {
  margin: auto 10px 10px auto;
  fill: var(--ion-text-color);
}
floodteam-epay fireenjin-form#invoice {
  min-width: 100%;
}
floodteam-epay .owed {
  padding: var(--floodteam-epay-owed-padding, 15px 0 15px 0);
  transition: opacity 0.3s ease;
}
floodteam-epay .back-button {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
}
floodteam-epay .owed > span,
floodteam-epay .owed > p {
  display: block;
  margin: 0 auto;
  text-align: center;
}
floodteam-epay .owed > span,
floodteam-epay #confirmation h1 {
  margin: 0 auto;
  font-size: 2em;
  font-weight: bold;
  color: var(
    --floodteam-epay-money-color,
    var(--ion-color-success, green)
  ) !important;
  line-height: 60px;
  height: 60px;
  transition: 0.4s all ease;
}
floodteam-epay .owed > p {
  letter-spacing: 2px;
  color: var(--ion-text-color) !important;
}
floodteam-epay .confirm-title {
  margin: 0 !important;
}
floodteam-epay #confirmation h1 {
  font-size: 1.5em;
  padding-top: 0;
}
floodteam-epay #payments .past {
  display: block;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
}
floodteam-epay #payments h2 {
  color: #999 !important;
  margin: 0 15px;
  padding: 5px 5px;
  font-size: 0.9em;
  border-bottom: 2px solid #bbb;
  display: block;
  text-align: left;
}
floodteam-epay #payments floodteam-button {
  display: block;
  width: 100%;
}
floodteam-epay #payments floodteam-fallback {
  --floodteam-fallback-icon-size: 50px;
  display: block;
  width: 100%;
  padding: 15px 0;
}
floodteam-epay #details {
  padding: 0 30px;
}
floodteam-epay #details label {
  font-size: 0.9em;
  font-weight: bold;
  color: #bbb !important;
  text-align: left;
}
floodteam-epay #details floodteam-grid {
  padding: 15px 0 0 0;
}
floodteam-epay #card {
  padding: 30px 30px 0 30px;
}
floodteam-epay #check {
  padding: 0 30px;
}
floodteam-epay #admin-controls floodteam-button {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 0.75em;
}
floodteam-epay #confirmation .confirm-title {
  font-weight: bold;
  color: var(--ion-color-medium) !important;
  margin: 0 auto 15px;
}
floodteam-epay #confirmation floodteam-thumbs-up {
  display: block;
  margin: 30px auto;
}
floodteam-epay #confirmation floodteam-error {
  display: block;
  width: 90%;
  margin: 15px auto 0;
}
floodteam-epay #success p {
  color: var(--ion-color-medium) !important;
  font-size: 0.8em;
  font-weight: bold;
}
floodteam-epay floodteam-error .ft-error-wrapper {
  padding: 0 !important;
}

@media only screen and (max-width: 500px) {
  floodteam-epay .back-button {
    top: 3px;
    left: -15px;
    z-index: 9;
  }
  floodteam-epay .owed > span {
    font-size: 1.25em !important;
    line-height: 30px;
    padding-top: 20px;
  }
  floodteam-epay #details {
    padding: 0 10px;
  }
  floodteam-epay #card {
    padding: 20px 10px 0 10px;
  }
  floodteam-epay #check {
    padding: 0 10px;
  }
}
