floodteam-payment-methods .slide-wrapper {
  display: block;
  width: 100%;
  text-align: left;
}

floodteam-payment-methods h2 {
  color: var(--ion-text-color);
}

floodteam-payment-methods .slide-controls {
  text-align: right;
}

floodteam-payment-methods ion-card {
  padding: 10px 15px 0 15px;
}

floodteam-payment-methods ion-list {
  padding-top: 0 !important;
}

floodteam-payment-methods #payment-type {
  position: relative;
  padding: 10px 0;
}

floodteam-payment-methods #payment-type .options ion-icon {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  color: var(--ion-color-secondary);
  overflow: visible;
}

floodteam-payment-methods #payment-type .options span {
  position: absolute;
  display: block;
  bottom: 225px;
  pointer-events: none;
  left: 50%;
}

floodteam-payment-methods #payment-type .options span:after {
  position: relative;
  margin-left: -15px;
  padding: 10px 0;
  margin-top: 50px;
  width: 100%;
  top: 35px;
  left: calc(-50% + 8px);
  font-size: 1em;
  font-family: var(--ion-font-family-secondary);
  z-index: 4;
  content: "OR";
  background: var(--background);
}

floodteam-payment-methods #payment-type .options span:before {
  display: block;
  content: "";
  width: 50%;
  height: 200px;
  position: absolute;
  left: -50%;
  top: -50px;
  border-right: 1px solid var(--ion-color-medium);
  z-index: 1;
}

floodteam-payment-methods #payment-type .options ion-col p {
  text-align: center;
  color: var(--ion-color-medium);
  font-size: 0.75em;
  padding: 0 15px;
}

floodteam-payment-methods #payment-type .options ion-col h2 {
  position: relative;
  font-weight: bold;
  font-family: var(--ion-font-family-secondary);
  text-align: left;
  font-size: 1em;
  padding-left: 60px;
  height: 40px;
  overflow: visible;
}

floodteam-payment-methods #payment-type .options ion-col .empty-radio {
  position: absolute;
  top: -2px;
  left: 15px;
  height: 30px;
  width: 30px;
  border: 2px solid var(--ion-color-medium);
  border-radius: 100%;
  display: inline-block;
}

floodteam-payment-methods #payment-type .options ion-col {
  cursor: pointer;
}

floodteam-payment-methods #payment-type .options ion-col.active .empty-radio {
  border: none;
  height: 40px;
  width: 40px;
  content: "";
  top: -7px;
  border-radius: 100%;
  background-image: var(--ion-icon-checkmark);
  z-index: 10;
}

floodteam-payment-methods
  .pager
  floodteam-payment-methods
  ion-col.message-content {
  min-width: 300px;
}

floodteam-payment-methods ion-col.dashboard-button {
  max-width: 160px;
}

@media only screen and (max-width: 500px) {
  floodteam-payment-methods ion-col.dashboard-button {
    max-width: 100%;
  }
}
