floodteam-radios .invalid .input-wrapper {
  border-bottom-color: var(--theme-red) !important;
}

floodteam-radios .invalid ion-label {
  color: var(--theme-red) !important;
}

floodteam-radios ion-label {
  color: var(--theme-dark-grey);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: arial;
  display: block;
  background: transparent;
  text-align: left;
  padding: 0 0 8px 0;
  font-family: var(--ion-font-family);
}

floodteam-radios ion-item {
  border-bottom: none !important;
  box-shadow: none !important;
}

floodteam-radios ion-input {
  display: block;
  height: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
}

floodteam-radios ion-item ion-label {
  color: var(--theme-dark-grey) !important;
}

floodteam-radios ion-item input {
  color: var(--theme-dark);
  border: none;
  box-shadow: none !important;
  font-family: var(--ion-font-family);
  outline: none !important;
}

floodteam-radios ion-item.item-input-has-focus ion-label {
  color: var(--theme-blue);
}

floodteam-radios ul {
  display: block;
  width: 100%;
  list-style: none;
  padding: 15px 0 5px 0;
  margin: 0;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

floodteam-radios ul li {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: var(--theme-dark);
  position: relative;
  height: 30px;
  text-indent: 30px;
}

floodteam-radios ul li ion-icon {
  position: absolute;
  left: 0px;
  top: 0;
  color: var(--theme-blue);
  height: 28px;
  width: 28px;
}

floodteam-radios ul li ion-icon svg path {
  fill: var(--theme-blue);
}

floodteam-radios ul li .empty-circle {
  position: absolute;
  top: 2px;
  left: 0px;
  height: 23px;
  width: 23px;
  border-radius: 100%;
  border: 2px solid #999;
}

floodteam-radios ul li:hover {
  cursor: pointer;
  color: var(--theme-blue);
}

floodteam-radios ul li:hover .empty-circle {
  border-color: var(--theme-blue);
}
