floodteam-navigation-footer fireenjin-chip-bar {
  padding-right: 80px;
}

floodteam-navigation-footer floodteam-title-bar {
  display: block;
  width: 100%;
}

floodteam-navigation-footer floodteam-title-bar ion-breadcrumb:first-of-type::part(native) {
  padding-left: 0;
}

floodteam-navigation-footer floodteam-title-bar ion-breadcrumb ion-icon {
  color: var(--ion-text-color);
}

floodteam-navigation-footer floodteam-title-bar h1.ion-margin-vertical {
  margin: 0;
}

floodteam-navigation-footer .showing-pins fireenjin-chip-bar {
  padding-right: 50px;
}

floodteam-navigation-footer .menu-buttons {
  background: -moz-linear-gradient(
    left,
    rgba(var(--ion-nav-color-rgb), 0) 0%,
    rgba(var(--ion-nav-color-rgb), 1) 30%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(var(--ion-nav-color-rgb), 0) 0%,
    rgba(var(--ion-nav-color-rgb), 1) 30%
  );
  background: linear-gradient(
    to right,
    rgba(var(--ion-nav-color-rgb), 0) 0%,
    rgba(var(--ion-nav-color-rgb), 1) 30%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#1e5799',GradientType=1 );
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80px;
  index: 9;
}

floodteam-navigation-footer .showing-pins .menu-buttons {
  width: 55px;
}

floodteam-navigation-footer ion-menu-button {
  display: block;
  width: 55px;
  position: absolute;
  right: 0;
  bottom: 6px;
}
